{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Woof and Meow</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="{% static 'css/css2.css '%}">

    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <!-- dog slide -->
    <link rel="stylesheet" href="{% static 'css/dogslide.css '%}">
    <!-- cat slide -->
    <link rel="stylesheet" href="{% static 'css/catslide.css' %}">
    <!-- Cat Animation -->
    <link rel="stylesheet" href="{% static 'css/catanim.css' %}" />


    <!-- static files -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}">

    <link href="{% static 'css/aos.css' %}" rel="stylesheet">

    <link href="{% static 'css/templatemo-nomad-force.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">




    <!--

TemplateMo 567 Nomad Force

https://templatemo.com/tm-567-nomad-force

-->
</head>

<body>

    <main>

        <section class="hero" id="hero">
            <div class="heroText">
                <h1 class="text-white mt-5 mb-lg-4" data-aos="zoom-in" data-aos-delay="800">
                    Woof and Meow
                </h1>

                <p class="text-secondary-white-color" data-aos="fade-up" data-aos-delay="1000">
                    Your Furry Friend Database<strong class="custom-underline"></strong>
                </p>
            </div>

            <div class="videoWrapper">
                <video autoplay="" loop="" muted="" class="custom-video" poster="{% static 'videos/Untitled.png' %}">
                    <source src="{% static 'videos/videoplayback.mp4' %}" type="video/mp4">

                    Your browser does not support the video tag.
                </video>
            </div>

            <div class="overlay"></div>
        </section>

        <nav class="navbar navbar-expand-lg bg-light shadow-lg">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <strong>Woof and Meow</strong>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active">
                            <!-- <a class="nav-link" href="#hero">Dog Lookup</a> -->
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'dog_lookup' %}">Dog Lookup</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cat_lookup' %}">Cat Lookup</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="#dog-image-carousel">Dogs Slideshow</a>
                        </li>
                        <!-- <li class="nav-item">
                            <span class="navbar-text">Furry Friends Slide Show</span>
                        </li> -->

                        <li class="nav-item">
                            <a class="nav-link" href="#cat-image-carousel">Cats Slideshow</a>
                        </li>

                        <!-- <li class="nav-item">
                                <a class="nav-link" href="#contact">Contact Us</a>
                            </li> -->
                    </ul>
                </div>
            </div>
        </nav>
        <div class="outer_wrapper">
            <div class="wrapper">

                <div class="cat_wrapper">
                    <div class="cat first_pose">
                        <div class="cat_head">
                            <svg x="0px" y="0px" width="100%" height="100%" viewBox="0 0 76.4 61.2">
                                <polygon class="eyes"
                                    points="63.8,54.1 50.7,54.1 50.7,59.6 27.1,59.6 27.1,54.1 12.4,54.1 12.4,31.8 63.8,31.8 " />
                                <path d="M15.3,45.9h5.1V35.7h-5.1C15.3,35.7,15.3,45.9,15.3,45.9z M45.8,56.1V51H30.6v5.1H45.8z M61.1,35.7H56v10.2h5.1
                  V35.7z M10.2,61.2v-5.1H5.1V51H0V25.5h5.1V15.3h5.1V5.1h5.1V0h5.1v5.1h5.1v5.1h5.1v5.1c0,0,15.2,0,15.2,0v-5.1h5.1V5.1H56V0h5.1v5.1
                  h5.1v10.2h5.1v10.2h5.1l0,25.5h-5.1v5.1h-5.1v5.1H10.2z" />
                            </svg>

                        </div>
                        <div class="body">
                            <svg x="0px" y="0px" width="100%" height="100%" viewBox="0 0 91.7 40.8">
                                <path class="st0"
                                    d="M91.7,40.8H0V10.2h5.1V5.1h5.1V0h66.2v5.1h10.2v5.1h5.1L91.7,40.8z" />
                            </svg>

                            <div class="tail">
                                <svg x="0px" y="0px" width="100%" height="100%" viewBox="0 0 25.5 61.1">
                                    <polygon class="st0" points="10.2,56 10.2,50.9 5.1,50.9 5.1,40.7 0,40.7 0,20.4 5.1,20.4 5.1,10.2 10.2,10.2 10.2,5.1 15.3,5.1 
                          15.3,0 25.5,0 25.5,10.2 20.4,10.2 20.4,15.3 15.3,15.3 15.3,20.4 10.2,20.4 10.2,40.7 15.3,40.7 15.3,45.8 20.4,45.8 20.4,50.9 
                          25.5,50.9 25.5,61.1 15.3,61.1 15.3,56 " />
                                </svg>
                            </div>
                        </div>

                        <div class="front_legs">
                            <div class="leg one">
                                <svg x="0px" y="0px" width="100%" height="100%" viewBox="0 0 14 30.5">
                                    <polygon points="15.3,30.5 5.1,30.5 5.1,25.4 0,25.4 0,0 15.3,0 " />
                                </svg>
                            </div>
                            <div class="leg two">
                                <svg x="0px" y="0px" width="100%" height="100%" viewBox="0 0 14 30.5">
                                    <polygon points="15.3,30.5 5.1,30.5 5.1,25.4 0,25.4 0,0 15.3,0 " />
                                </svg>
                            </div>
                        </div>

                        <div class="back_legs">
                            <div class="leg three">
                                <svg x="0px" y="0px" width="100%" height="100%" viewBox="0 0 14 30.5">
                                    <polygon points="15.3,30.5 5.1,30.5 5.1,25.4 0,25.4 0,0 15.3,0 " />
                                </svg>
                            </div>
                            <div class="leg four">
                                <svg x="0px" y="0px" width="100%" height="100%" viewBox="0 0 14 30.5">
                                    <polygon points="15.3,30.5 5.1,30.5 5.1,25.4 0,25.4 0,0 15.3,0 " />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ground"></div>

        </div>





        <!-- !-------------- Cat Animation End ---------------->

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h5 class="text-white">Woof and Meow</h5>
                    </div>
                    <div class="col-6">
                        <p class="copyright-text mb-0">Copyright © Woof and Meow 2024
                            <br><br>Design: <a href="https://www.linkedin.com/in/ananthudev" target="_parent">Ananthu
                                Dev</a><br><br>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="{% static 'js/jquery.sticky.js' %}"></script>
        <script src="{% static 'js/aos.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/magnific-popup-options.js' %}"></script>
        <script src="{% static 'js/scrollspy.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
        <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js '%}"></script>
        <script src="{% static 'js/jquery-ui.js' %}"></script>

        <!-- MIne -->
        <script src="{% static 'js/dogslide.js' %}"></script>
        <script src="{% static 'js/catslide.js' %}"></script>
        <script src="{% static 'js/catanim.js' %}"></script>
        <script src="{% static 'js/generatedog.js' %}"></script>
        <script src="{% static 'js/generatedcat.js' %}"></script>
        <script src="{% static 'js/doggallery.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script src="{% static 'js/catlike.js' %}"></script>
        <script src="{% static 'js/catgallery.js' %}"></script>

</body>

</html>